@font-face {
  font-family: Hanken;
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
body {
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  /* border: 1px solid black; */
  font-family: Hanken;

}
.container {
  display: flex;
  box-shadow: 10px 10px 15px lightgray;
  border-radius: 20px;
}

.left-part {
  flex-basis: 50%;
  color: white;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  /* background-color: hsl(252, 100%, 67%); */
  /* background-color: linear-gradient(); */
  background-image: linear-gradient(to top,hsl(241, 81%, 54%) , hsl(252, 100%, 67%));
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* background-color: hsl(241, 81%, 54%); */
  /* background-color: hsla(256, 72%, 46%, 1); */
  background-image: linear-gradient(to top,hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
  margin: auto;
}
.big-part {
  font-size: 70px;
}
.small-part {
  padding-top: 0px;
  font-size: 15px;
  color: rgb(133, 137, 141);
}
.right-part {
  flex-basis: 50%;
  /* border: 1px solid #ccc; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.item {
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.item div {
  display: flex;
  align-items: center;
}
svg {
  margin-right: 5px;
}
.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);

}
.reaction-text {
  color: hsl(0, 100%, 67%);
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.memory-text {
  color: hsl(39, 100%, 56%)
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.verbal-text {
  color: hsl(166, 100%, 37%);
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.visual-text {
  color: hsl(234, 85%, 45%);
}
button {
  margin-top: 20px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}